﻿@model MedInsider.WebUI.Models.LoginViewModel
@{ ViewBag.Title = "Login";}
<div class="center-block" style="width:40%">
    <h2>Log In</h2>
    @Html.ValidationSummary()
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken();
        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
        <div class="form-group">
            <label>Name</label>
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Password</label>
            @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
        </div>
    <button class="btn btn-default" type="submit">Log In</button>
    }
</div>