﻿@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Create Article";
}    
    <link href="/Content/widgEditor_1.0.1/css/widgEditor.css" rel="stylesheet" />
    <style type="text/css" media="all">
    </style>
    <script type="text/javascript" src="/Content/widgEditor_1.0.1/scripts/widgEditor.js"></script>
    
    @using (Html.BeginForm("CreateArticle", "Page", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <fieldset>
        <input type="hidden" name="userId" value="@User.Identity.GetUserId()" />
            <label for="titile">
                Title:
            </label>
            <input type="text" name="title" />
            <br />
            <br />
            <textarea id="noise" name="noise" class="widgEditor nothing"></textarea>
        </fieldset>
        <fieldset class="submit">
            <input type="submit" value="Create" />
        </fieldset>
    }
