﻿@using Microsoft.AspNet.Identity
@model IEnumerable<MedInsider.Domain.Entities.Article>
@{
    ViewBag.Title = "Search";
}

<h2>Search resuls:</h2>

@if (!Model.Any())
{
    <h2>Not found</h2>
}
else 
{
    foreach (var article in Model)
    {
        <hr/>
    <div class="row">
        
        <h3 class="center-block">Title: @Html.ActionLink(@article.Title, "ViewArticle", "Page", new { articleId = article.ArticleId }, null)</h3>
        @Html.Raw(article.Text)
        <br>
        <p style="float: left;">Created by: @article.Author.UserName</p>
        <p style="float: right;">Date: @article.Date.ToLocalTime().ToShortDateString()</p>
    </div>
    }
}