﻿@using Microsoft.AspNet.Identity
@model MedInsider.Domain.Entities.Article

<div class="row">

    <h3 class="center-block">Title: @Model.Title</h3>
    @Html.Raw(Model.Text)
    <br>
    <p style="float: left;">Created by: @Model.Author.UserName</p>
    <p style="float: right;">Date: @Model.Date.ToLocalTime().ToShortDateString()</p>
</div>

@if (ViewBag.Comments.Count != 0 )
{ 
    <div class="row">
        <hr />
        <h3>
            Comments:
        </h3>
        @foreach (var comment in ViewBag.Comments)
        {
            if (!@comment.IsBlocked)
            {
                <h4>@comment.Author.UserName, wrote</h4>
            <p>
                @comment.Content
            </p>   
            }
            else
            {
                <p>
                Comment was blocked by moderator.
                </p> 
            }
                  
        }
    </div>
}
@if (Request.IsAuthenticated)
{
    <div class="row">
        <hr />
        @using (Html.BeginForm("AddComment", "Page", FormMethod.Post))
    {
        <input type="hidden" name="ArticleId" value=@Model.ArticleId />
                <fieldset class="form-group">
                <label for="comment">Add your comment</label>
                <textarea class="form-control" id="comment" name="comment"></textarea>
            </fieldset>
            <button type="submit" class="btn btn-primary">Submit</button>
    }
    </div>
}
