﻿@using Microsoft.AspNet.Identity
@model MedInsider.Domain.Entities.AppUser

@{
    ViewBag.Title = "Edit User";
}
<div class="panel panel-default">
    <div class="panel-heading">
        User
    </div>
    <table class="table table-hover">
        <tr>
            <td>Account Name:</td>
            <td>@Model.UserName</td>
        </tr>
        <tr>
            <td>Full Name:</td>
            <td>@Model.FirstName @Model.LastName</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>@Model.Email</td>
        </tr>
    </table>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        Roles
    </div>

    @using (Html.BeginForm("UpdateRoles", "Admin", FormMethod.Post))
    {
        <input type="hidden" name="userEmail" value="@Model.Email" />
        <ul style="list-style-type:none; padding-left: 10px;">
            @foreach (var role in ViewBag.AllRoles)
            {
                <li>
                    <input type="checkbox" name="SelectedGroups" value="@role.Name" id="@role.Name"
                           @{if (ViewBag.UserRoles.Contains(role.Name)) { <text> checked='checked' </text>        } } />
                    <label>@role.Name</label>
                </li>
            }
        </ul>
        <button type="submit" class="btn btn-primary center-block" style=" margin-bottom: 10px;">
            Update
        </button>
    }
</div>

@Html.ActionLink("User comments", "UserComments", "Admin", new { email = @Model.Email }, null)
    
