﻿@using MedInsider.Domain.Entities
@model IEnumerable<AppUser>
@{
    ViewBag.Title = "Users";
}
<div class="panel panel-default">
    <div class="panel-heading">
        User List
    </div>
    <table class="table table-hover">
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Account name</th>
            <th>Email</th>
            <th>
                @if (!Model.Any())
                {
            <tr><td colspan="4" class="text-center">No User Accounts</td></tr>
                }
                else
                {
                    foreach (var user in Model)
                    {
                        <tr onclick="document.location = '@Url.Action("EditUser", "Admin", new { Email = user.Email })';" style="cursor:pointer">
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@user.UserName</td>
                            <td>@user.Email</td>
                        </tr>

                    }
                }
    </table>
</div>