﻿@using Microsoft.AspNet.Identity
@model IEnumerable<MedInsider.Domain.Entities.Comment>
@{
    ViewBag.Title = "User Comments";
}

<div class="panel panel-default">
    <div class="panel-heading">
        Bun User Comments:
    </div>

    @using (Html.BeginForm("UserComments", "Admin", FormMethod.Post))
    {
        <input type="hidden" name="userEmail" value="@Model.First().Author.Email" />
        <ul style="list-style-type:none; padding-left: 10px;">
            @foreach (var comment in @Model)
            {
                <li>
                    <input type="checkbox" name="SelectedGroups" value="@comment.CommentId"
                           @{if (comment.IsBlocked) { <text> checked='checked' </text>         } } />
                    <label>@comment.Content</label>
                </li>
            }
        </ul>   
        <button type="submit" class="btn btn-primary center-block" style=" margin-bottom: 10px;">
            Update
        </button>
    }
</div>