﻿@{
    ViewBag.Title = "Home - MedInsider";
}


<img src="~/Content/Images/masthead.jpg" width:100%  class="center-block">

<div class="row" width:100%>
    <div class="col-md-8">
        <h2>Welcome to MedInsider</h2>
        <p>
            MedInsider is a national independent review organization known throughout the healthcare industry
            for its high-quality medical reviews,
            and responsiveness to client and regulatory needs. The are a lot of users that benift from MedInsider.
            You get profecional and independant information about drags
            <h4>We will not allow anyone to fool you</h4>
        </p>
    </div>
    <div class="col-md-2">
        <img src="~/Content/Images/meds.jpg" width="250" height="200" align="middle">
    </div>
</div>