﻿@using Microsoft.AspNet.Identity

<ul class="nav navbar-nav navbar-right">
    <li style=" margin-top: 12px;">
        <form method="get" action='@Url.Action("Search", "Page")' id="search">
            <input name="Search" type="text" size="40" placeholder="Search article..." />
        </form>
    </li>
    @if (Request.IsAuthenticated)
    {
            <li>
                <a>@("Welcome, " + User.Identity.GetUserName())</a>
            </li>
            if (User.IsInRole("Admin"))
            {
                <li>@Html.ActionLink("Users", "Users", "Admin")</li>
            }
            if (User.IsInRole("Doctor"))
            {
                <li>@Html.ActionLink("Create Article", "CreateArticle", "Page")</li>
            }
            <li>@Html.ActionLink("Log out", "Logout", "Account")</li>
    }   
    else
    {

        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: new { returnUrl = "/" }, htmlAttributes: new { id = "loginLink" })</li>
    }
</ul>
